@model IEnumerable<Web.ViewModel.ClientesDto>

@{
    ViewData["Title"] = "Modulo Clientes";
    ViewData["Modulo"] = "Modulo Clientes";

}


<div class="card">
    <div class="card-header border-0">
        <div class="row">
            <div class="col-md-6">
                <h2 class="card-title">Seleccione la opcion</h2>
            </div>
            <div class="col-md-6">
                <button type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#modalCreateClient">
                    Crear Cliente
                </button>

            </div>
        </div>
    </div>

    <div class="card-body">

        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cedula</th>
                            @*<th>Fecha Creacion</th>*@
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido</td>
                                <td>@item.Cedula</td>
                                @*<td>@item.FechaCreacion</td>*@
                                <td>
                                    <a role="button" class="btn btn-success" data-edit-id="@item.IdCliente" data-toggle="modal">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a role="button" class="btn btn-danger btnDelete" data-delete-id="@item.IdCliente">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }


                    <tbody>
                </table>
            </div>
        </div>

        <div class="card-footer py-4">


        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modalCreateClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Hi</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>



    @section scripts
        {

        <script src="~/js/clienteView.js"></script>

        <script>
            let getClientes = '@Url.Action("GetDataTableCliente", "Clientes")';
        </script>


    }
